html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  vertical-align: middle;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  border padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  margin: .5em;
}

.btn {
  font-size: 1.125rem;
  text-decoration: none;
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

 .btn-subtle {
   color: #fff;
   text-decoration: none;
   background-color: #ccc;
 }

 .btn-ghost {
   text-decoration: none;
   background-color: #fff;
   color: #000;
   border: 3px solid #000;
 }

 .btn-warning {
   text-decoration: none;
   background-color: #f33;
   color: #fff;
 }

 .btn-big {
   font-size: 1.5rem;
   text-decoration: none;
 }

 .btn-small {
   font-size: .875rem;
   text-decoration: none;
 }
